.root {
  position: relative;
}

.scrollPadding {
  margin: 0 -1rem; /* bust out of storybook margin (to demonstrate full bleed carousel) */
}

.scroll {
  position: relative;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  overscroll-behavior: contain;
}

.scrollPadding .scroll {
  scroll-padding: 0 5%;
  padding: 0 5%;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.item {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  /* margin: 0 1%; */
}

/* .item:first-child,
.item:last-child {
  margin: 0;
} */

.snapPoint {
  scroll-snap-align: start;
}

.itemText {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  text-align: center;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.25, 1, 0.5, 1);
}

.itemActive .itemText {
  transform: translate(-50%, -65%);
  opacity: 1;
}

.itemTitle {
  text-transform: uppercase;
  font-size: 8.5vw;
  text-shadow: 0.35vw 0.35vw 0vw rgba(0, 0, 0, 0.4);
}

.itemSubtitle {
  text-transform: uppercase;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.2vw 0vw rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.25, 1, 0.5, 1);
  transition-delay: 350ms;
}

.itemActive .itemSubtitle {
  opacity: 1;
}

.itemImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pageIndicator {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 5px;
  color: #374151;
}

.controls {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #374151;
  padding: 0 1rem;
}

.prevButton,
.nextButton {
  font-size: 18px;
  transition: opacity 100ms ease-out;
}

.prevButton[disabled],
.nextButton[disabled] {
  opacity: 0.4;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px;
}

.paginationItem {
  display: flex;
  justify-content: center;
}

.paginationButton {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background: #374151;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px;
  transition: opacity 100ms ease-out;
}

.paginationItemActive .paginationButton {
  opacity: 0.3;
}

@media only screen and (max-width: 480px) {
  .pagination {
    margin: 0 8px;
  }

  .prevButton,
  .nextButton {
    font-size: 15px;
  }

  .paginationButton {
    width: 9px;
    height: 9px;
    margin: 4px;
  }
}
